<!DOCTYPE html>
<html>

<head>
<title>
    Weather
    </title>
       <link rel="icon" href="/Images/cloud.png">

    <style>
        body {
            background-image: url('/Images/wall.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

      

        p {
            text-align: center;
        }
    </style>
</head>

<body class>
    <div>
    {{>headers}}
    <p>
   <h1> {{location}} </h1> 

     </p>

      
     <h1 class="weathervalues" >Date And Time : {{time}} </h1>
     

    
    <h1 class="weathervalues"> Temperature : {{temperature}} </h1>

    <h1 class="weathervalues"> Precipitation Chance : {{precipitation}} % </h1>
             
    <h1 class="weathervalues"> Latitude:  {{latitude}} </h1>
    <h1 class="weathervalues"> Longitude: {{longitude}}</h1>
               

         <h1 class="weathervalues">
              WindDirection : {{windDirection}}
         </h1>
            
    

    </div>
    
   
    

</body>

 </p class="bottom_p">

    <p >
    <p>Created By Sudhir Pal</p>
    <p>Gmail: sudhirnandlalpal@gmail.com</p>

    </p>
</html>